{% if auth %}
    <h1>{{ auth.username }}</h1>
    <p>Email: {{ auth.email }}</p>
    <p>Number of books: {{ auth.nbBook }}</p>
{% else %}
    <p>Author not found.</p>
    <h1>{{ auth.id }}</h1>
{% endif %}
